.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.difficulty-buttons-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33dvw;
    height: 300px;
    padding: 50px 0px;
    background-color: palegoldenrod;
}

.difficulty-button {
    display: grid;
    place-content: center;
    width: 16dvw;
    height: 2rem;
    padding: 0.2rem;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.difficulty-button:hover {
    background-color: royalblue;
    transition: 100ms linear;
    color: palegoldenrod;
}