@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.game-container {
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.game-ui {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.clock,
.mines-left {
    display: grid;
    place-content: center;
    width: 64px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: palegoldenrod;
    padding: 10px;
}